<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Error</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="icon" href="./images/icon-tab.png">
  <link href="./css/styles.css" rel="stylesheet">
</head>

<body>
  <div class="p-5 mb-4 rounded-3" style="background-color: #EEEDEB;">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">哎哟!</h1>
      <p class="col-md-8 fs-4">注册时出现错误。请重新注册！</p>
      <form action="/error" method="post">
        <button class="mt-2 btn btn-lg btn-warning" type="submit">重试</button>
      </form>
    </div>
  </div>
</body>

</html>
